<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipient Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/recipient_dashboard.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
  </head>

  <body>
    <header>
      <h1>Recipient Dashboard</h1>
      <nav>
        <ul>
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('profile')}}">Profile</a></li>
          <li><a href="{{url_for('logout')}}" id="logout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <div class="single-column">
      <!-- Form at the top -->
      <section class="request-form">
        <h2>Post a Cloth Donation Request</h2>
        <form id="requestForm" method="post" action="/recipient_dashboard">
          <input
            type="text"
            name="food_item"
            id="foodItem"
            placeholder="Cloth Item"
            required
          />
          <input
            type="number"
            name="quantity"
            id="quantity"
            placeholder="Quantity (In numbers)"
            required
          />
          <input
            type="text"
            name="location"
            id="location"
            placeholder="Location"
            required
          />
          <input
            type="datetime-local"
            name="date-time"
            id="expiryTime"
            required
          />
          <textarea
            id="description"
            name="description"
            placeholder="Description"
          ></textarea>
          <button type="submit">Post Request</button>
        </form>
      </section>

      <!-- Filter -->
      <section class="filter-section">
        <h2>Filter Requests</h2>
        <input type="text" id="location-filter" placeholder="Enter location" />
        <button id="apply-filter">Apply Filter</button>
      </section>

      <!-- Requests List -->
      <section class="requests-list">
        <h2>My Requests</h2>
        <div class="card-container" id="recipient-requests-body">
          <!-- Cards will be inserted here by JavaScript -->
        </div>
      </section>
    </div>

    <script src="{{ url_for('static', filename='js/recipient.js') }}"></script>
  </body>
</html>
